<div class="subnav">
    <div class="subnav__content">
        <%= link_to "Time", "time", class: "subnav__tab-title--active" %>
        <%= link_to "Expenses", "time", class: "subnav__tab-title" %>
    </div>
</div>