<% content_for :body_class, "time-page" %>
<%= render "partials/inner_site_header" %>
<%= render "sub_nav" %>

<div class="timesheet">
    <div class="timesheet__content">
        <div class="timesheet__header">
            <div class="timesheet__header-date">
            <h2>Monday</h2> <span>26 Dec</span>
            </div>
            <div class="timesheet__controls">
                <div class="timesheet__day-switcher">
                    <button class="timesheet__day-switcher-button"></button>
                    <button class="timesheet__day-switcher-button">Today</button>
                    <button class="timesheet__day-switcher-button"></button>
                </div>
                <div class="timesheet__calendar"></div>
                <div class="timesheet__mode-switcher">
                    <button>Day</button>
                    <button>Week</button>
                </div>
            </div>
        </div>

        <div class="timesheet-viewer">
            <ul class="timesheet-viewer__days-list">
                <button class="timesheet-viewer__button">M</button>
                <button class="timesheet-viewer__button">T</button>
                <button class="timesheet-viewer__button">W</button>
                <button class="timesheet-viewer__button">Th</button>
                <button class="timesheet-viewer__button">F</button>
                <button class="timesheet-viewer__button">S</button>
                <button class="timesheet-viewer__button">Su</button>
            </ul>
        </div>

        <a class="timesheet__convert-link">Copy over all rows from most recent timesheet</a>

    </div>
</div>

<%= render "partials/inner_site_footer" %>