<header class="site_header">
    <div class="site_header-content">
        <ul class="inner-nav">
            <li class="inner-nav__item inner-nav__item--home inner-nav__item--current"></li>
            <li class="inner-nav__item">Timesheets</li>
            <li class="inner-nav__item">Projects</li>
            <li class="inner-nav__item">Team</li>
            <li class="inner-nav__item">Reports</li>
            <li class="inner-nav__item">Invoices</li>
            <li class="inner-nav__item">Manage</li>
        </ul>
        <ul class="inner-header-options">
            <li class="inner-header-options__item">Help</li>
            <li class="inner-header-options__item">Settings</li>
            <li class="inner-header-options__item inner-header-options__dropdown">
                <%= image_tag "cornell_clock_tower.png" %>
                <label>Dylan</label>
                <i class="inner-header-options__chevron"></i>
            </li>
        </ul>
    </div>
</header>