<header class="site_header">
    <div class="site_header-content">
        <ul class="inner-nav">
            <li class="inner-nav__item inner-nav__item--home inner-nav__item--current"></li>
            <li class="inner-nav__item">Timesheets</li>
            <li class="inner-nav__item">Projects</li>
            <li class="inner-nav__item">Team</li>
            <li class="inner-nav__item">Reports</li>
            <li class="inner-nav__item">Invoices</li>
            <li class="inner-nav__item">Manages</li>
        </ul>
    </div>
</header>