<% content_for :body_class, "welcome-page" %>
<%= render "partials/inner_site_header" %>

<div class="welcome-hero">
    <%= image_tag "welcome-hero.png", class: "welcome-hero__img" %>
    <h2 class="welcome-hero__caption">
        Welcome to Shmarvest, <%= request.subdomain %>
        <h5 class="welcome-hero__caption--light">
            Here’s how to get started:
        </h5>
    </h2>
</div>