.entry-modal__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.6);
    z-index: 3;
}

.entry-card {
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: calc(-510px/2);
    background: white;
    width: 510px;
    z-index: 3;
    border-radius: 6px;
}

.entry-card__header {
    @include linear-gradient(#fafafa, #eaeaea);
    height: 36px;
    border-bottom: 1px solid #bbb;
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: space-between;
}

.entry-card__header-strut {
    flex: 1;
}

.entry-card__header-title {
    color: #555;
    font-size: 15px;
    font-family: "TradeGothic-Medium";
    text-align: center;
    line-height: 35px;
    flex: 1;
}

.entry-card__header-details {
    color: #777;
    font-size: 13px;
    text-shadow: 0 1px 0 #fff;
    line-height: 35px;
    flex: 1;
    text-align: right;
    padding-right: 25px;
}