.signup_page .site_header {
    height: 62px;
}

.signup_page .site_header-content {
    width: 700px;
    margin: auto;
}

.signup_page-content {
    padding: 40px 20px 30px;
    width: 700px;
    margin: auto;
}

.signup_page-header {
    font-size: 30px;
    line-height: 1.2;
    font-family: "TradeGothic-Regular";
    color: #444;
    font-weight: 600;
}

.signup_page-subheader {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 40px;
    margin-top: 2px;
    line-height: 1.3;
    font-family: "TradeGothic-Regular";
    color: #444;
}

.signup_page-form {
    display: flex;
}

.signup_page-formContent {
    width: 460px;
    margin-right: 20px;
}

.signup_page-fiveReasons {
    background: #f4f4f4;
    flex: 1;
    border-radius: 6px;
    padding: 20px;
    h5 {
        font-size: 17px;
        color: #777;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        line-height: 1.3;
        padding-right: 30px;
    }

    ol {
        margin-top: 20px;
        list-style: decimal;
        padding-left: 20px;
        li {
            font-size: 12px;
            color: #999;
            line-height: 1.5;
        }
    }
}

.signup_page-form .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.signup_page-form .field input {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background: #fff;
    border: 1px solid #bbb;
    font-size: 1rem;
    line-height: 16px;
    padding: 10px;
    width: 50%;
    border-radius: 4px;
    min-width: 72%;
}

.signup_page-form .field label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.signup_page-form .field .field_with_errors {
    width: 72%;
}

.signup_page-form .field .field_with_errors input {
    float: right;
    width: 100%;
    border: 1px solid red;
}

.signup_page-signupButton {
    @include linear-gradient(#51c137, #2da411);
    background-color: #2da411;
    border: 1px solid #299710;
    color: white;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    margin-top: 30px;
}

.signup_page-signupButton:hover {
    @include linear-gradient(#40b725, #299710);
    background-color: #299710;
    cursor: pointer;
}